.frase {
    font-size: 20px;
    text-align: left;
}

.campoDigitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
}

.campoDesativado {
    background-color: lightgrey;
}

.icones {
    vertical-align: middle;
}

.bordaVerde {
    border: 5px solid green;
}

.bordaVermelha {
    border: 5px solid red;
}

.placar {
    display: none;
}

body {
    overflow: scroll;
}

#erro {
    color: red;
    display: none;
}

#spinner {
    display: none;
}

#fraseId {
    width: 40px;
}

#botaoFraseSync {
    float: right;
}

.selectUsuarios {
    display: inline-block;
}

.selectize-control {
    width: 120px;
    vertical-align: middle;
}

#usuarios {
    display: block;
}